In [1]:
%cd C:\\Users\\tyler\\repos\\airbnb-forecast
%pwd

C:\Users\tyler\repos\airbnb-forecast

'C:\\Users\\tyler\\repos\\airbnb-forecast'

In [2]:
import glob
import pandas as pd
from datetime import datetime, timedelta 
from dateutil.relativedelta import relativedelta
from src.func_data_engineering import *

# auto load modules
%load_ext autoreload
%autoreload

In [ ]:
# store raw data
# listing

cols = ['id', 'last_scraped', 'host_id', 'host_since','host_neighbourhood',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'calculated_host_listings_count',
     'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms',
 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 
         'street',
      'neighbourhood_cleansed','city', 'state', 'zipcode', 'market',
       'smart_location','country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'number_of_reviews_ltm', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value','instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 
        'reviews_per_month']

for file in glob.glob('listings*.csv'):
    df_l = pd.read_csv(file, header=0, low_memory=False)
    df_l = df_l[cols]
    df_l.columns = df_l.columns.str.upper()
    
    # todo: append to one

In [4]:
l2001 =pd.read_csv('data/20/listings2001.csv')

C:\Users\tyler\Anaconda3\envs\airbnb-forecast\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (43,61,62,94) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
c1901 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1901calendar.csv')
c1902 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1902calendar.csv')
c1903 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1903calendar.csv')
c1904 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1904calendar.csv')
c1905 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1905calendar.csv')
c1906 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1906calendar.csv')

datasets = [c1901, c1902,c1903,c1904,c1905,c1906]

In [126]:
l1901=pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/listings1901.csv')

C:\Users\tyler\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (26,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [129]:
l1901s=pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/0listings1901.csv')

In [130]:
l1901s.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [128]:
l1901.columns

Index(['id', 'last_scraped', 'name', 'summary', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'number_of_reviews_ltm', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [ ]:
# app: I'm new host
#     I have listing already
['id', 'last_scraped', 'host_since', 'host_location'/'host_neighbourhood',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'calculated_host_listings_count',
         'host_verifications','host_has_profile_pic', 'host_identity_verified', 
         'street','neighbourhood'/'neighbourhood_cleansed'/'neighbourhood_group_cleansed', 
 'city', 'state', 'zipcode', 'market', 'country_code'/'country', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 
       'price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated',
       'number_of_reviews'/'number_of_reviews_ltm', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value','instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 
        'reviews_per_month']

In [ ]:
# postgres

In [15]:
l2001[['neighbourhood','neighbourhood_cleansed','city', 'state']].head(20)

                neighbourhood neighbourhood_cleansed            city state
0                Balwyn North             Manningham         Bulleen   VIC
1                   Brunswick               Moreland  Brunswick East   VIC
2                    St Kilda           Port Phillip        St Kilda   VIC
3               St Kilda East           Port Phillip   St Kilda East   VIC
4                         NaN                  Casey         Berwick   VIC
5                         NaN                Darebin       Reservoir   VIC
6              East Melbourne              Melbourne  East Melbourne   VIC
7                         NaN                 Monash   Oakleigh East   VIC
8                         NaN              Frankston       Frankston   VIC
9                    Richmond                  Yarra        Richmond   VIC
10  Central Business District              Melbourne       Melbourne   VIC
11                     Elwood           Port Phillip          Elwood   VIC
12                   Richmond                  Yarra        Richmond   VIC
13                        Kew             Boroondara             Kew   VIC
14                   Brighton                Bayside         Hampton   VIC
15               Clifton Hill                  Yarra    Clifton Hill   VIC
16                        NaN              Frankston       Frankston   VIC
17                        NaN               Kingston      Mordialloc   VIC
18                    Fitzroy                  Yarra         Fitzroy   VIC
19  Central Business District              Melbourne       Melbourne   VIC

In [7]:
l2001.host_neighbourhood.unique()

array([nan, 'Brunswick', 'St Kilda', 'St Kilda East', 'Richmond',
       'Central Business District', 'Elwood', 'Kew', 'Clifton Hill',
       'Collingwood/Fitzroy', 'Northcote', 'Port Melbourne', 'Newport',
       'South Melbourne', 'Windsor', 'Parkville', 'South Yarra',
       'Hawthorn', 'East Melbourne', 'Caulfield', 'North Melbourne',
       'Albert Park', 'Armadale', 'Fitzroy', 'Abbotsford', 'Balwyn',
       'Toorak', 'Malvern East', 'Flemington', 'Southbank',
       'Balwyn North', 'Prahran/Windsor', 'Carlton', 'Preston',
       'Balaclava/Ripponlea', 'Carnegie', 'North Bondi',
       'Yarraville/Seddon', 'Collingwood', 'Footscray', 'Thornbury',
       'Middle Park', 'Coburg', 'Docklands', 'Glen Iris', 'Brighton',
       'Ormond/McKinnon', 'West Melbourne', 'Fitzroy North', 'Bentleigh',
       'Prahran', 'South Wharf', 'Alphington', 'Kensington',
       'Williamstown', 'Carlton North', 'Camberwell', 'Greenacre',
       'Haymarket', 'Burnley', 'Manly', 'Malvern', 'Canterbury',
       'Spotswood/South Kingsville', 'Kirribilli/Milsons Point',
       'Ashburton', 'Williamsburg', 'Legian', 'LB of Waltham Forest',
       'Strathtulloh', 'Bali', 'Erskineville', 'Redfern', 'Beverly Hills',
       'Bondi Beach', 'Waterloo', 'Elizabeth Bay/Rushcutters Bay',
       'Rose Bay/Dover Heights', 'South Coogee', 'Double Bay', 'Recoleta',
       'Old Simon', 'Seminyak', 'Dongjiadu', 'Potts Point', 'Coogee',
       'Yehuda Hamaccabi', 'LB of Sutton', 'North Kuta', 'Monterey',
       'Surry Hills', 'Hammersmith', 'Prenzlauer Berg', 'Chinatown',
       'Charlottenburg', 'Fortress Hill', 'Mong Kok', 'Marina Bay',
       'Holland Park', 'Tampines', 'LB of Islington', 'The Rocks',
       'Chippendale', 'HaKirya', 'Darlinghurst', 'Arncliffe',
       'Hurstville', 'Annandale/Leichhardt', 'Oud-West',
       'Downtown Toronto', 'Sheung Wan', 'Zona 6', 'Central Area',
       'Thonburi', 'Woollahra', 'Bronte', 'Merkaz HaIr', 'Bellevue Hill',
       'Mascot', 'Kwai Tsing', 'Balmain/Birchgrove'], dtype=object)

In [ ]:
c1902['booked']=1-c1902.available
c1902.head()

In [102]:
c1902.date=pd.to_datetime(c1902.date).dt.date

In [118]:
b1902=c1902[c1902.date<=(c1902.date.min()+timedelta(months=1))]

TypeError: 'months' is an invalid keyword argument for __new__()

In [121]:
c01 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1901calendar.csv')
c02 = pd.read_csv('C:\\Users\\tyler\\repos\\airbnb-forecast\\data/1902calendar.csv')

In [125]:
c01.date.min()<c02.date.min()

True

In [ ]:
import glob

In [120]:

help(relativedelta)

Help on class relativedelta in module dateutil.relativedelta:

class relativedelta(builtins.object)
 |  relativedelta(dt1=None, dt2=None, years=0, months=0, days=0, leapdays=0, weeks=0, hours=0, minutes=0, seconds=0, microseconds=0, year=None, month=None, day=None, weekday=None, yearday=None, nlyearday=None, hour=None, minute=None, second=None, microsecond=None)
 |
 |  The relativedelta type is designed to be applied to an existing datetime and
 |  can replace specific components of that datetime, or represents an interval
 |  of time.
 |
 |  It is based on the specification of the excellent work done by M.-A. Lemburg
 |  in his
 |  `mx.DateTime <https://www.egenix.com/products/python/mxBase/mxDateTime/>`_ extension.
 |  However, notice that this type does *NOT* implement the same algorithm as
 |  his work. Do *NOT* expect it to behave like mx.DateTime's counterpart.
 |
 |  There are two different ways to build a relativedelta instance. The
 |  first one is passing it two date/datetime classes::
 |
 |      relativedelta(datetime1, datetime2)
 |
 |  The second one is passing it any number of the following keyword arguments::
 |
 |      relativedelta(arg1=x,arg2=y,arg3=z...)
 |
 |      year, month, day, hour, minute, second, microsecond:
 |          Absolute information (argument is singular); adding or subtracting a
 |          relativedelta with absolute information does not perform an arithmetic
 |          operation, but rather REPLACES the corresponding value in the
 |          original datetime with the value(s) in relativedelta.
 |
 |      years, months, weeks, days, hours, minutes, seconds, microseconds:
 |          Relative information, may be negative (argument is plural); adding
 |          or subtracting a relativedelta with relative information performs
 |          the corresponding arithmetic operation on the original datetime value
 |          with the information in the relativedelta.
 |
 |      weekday:
 |          One of the weekday instances (MO, TU, etc) available in the
 |          relativedelta module. These instances may receive a parameter N,
 |          specifying the Nth weekday, which could be positive or negative
 |          (like MO(+1) or MO(-2)). Not specifying it is the same as specifying
 |          +1. You can also use an integer, where 0=MO. This argument is always
 |          relative e.g. if the calculated date is already Monday, using MO(1)
 |          or MO(-1) won't change the day. To effectively make it absolute, use
 |          it in combination with the day argument (e.g. day=1, MO(1) for first
 |          Monday of the month).
 |
 |      leapdays:
 |          Will add given days to the date found, if year is a leap
 |          year, and the date found is post 28 of february.
 |
 |      yearday, nlyearday:
 |          Set the yearday or the non-leap year day (jump leap days).
 |          These are converted to day/month/leapdays information.
 |
 |  There are relative and absolute forms of the keyword
 |  arguments. The plural is relative, and the singular is
 |  absolute. For each argument in the order below, the absolute form
 |  is applied first (by setting each attribute to that value) and
 |  then the relative form (by adding the value to the attribute).
 |
 |  The order of attributes considered when this relativedelta is
 |  added to a datetime is:
 |
 |  1. Year
 |  2. Month
 |  3. Day
 |  4. Hours
 |  5. Minutes
 |  6. Seconds
 |  7. Microseconds
 |
 |  Finally, weekday is applied, using the rule described above.
 |
 |  For example
 |
 |  >>> from datetime import datetime
 |  >>> from dateutil.relativedelta import relativedelta, MO
 |  >>> dt = datetime(2018, 4, 9, 13, 37, 0)
 |  >>> delta = relativedelta(hours=25, day=1, weekday=MO(1))
 |  >>> dt + delta
 |  datetime.datetime(2018, 4, 2, 14, 37)
 |
 |  First, the day is set to 1 (the first of the month), then 25 hours
 |  are added, to get to the 2nd day and 14th hour, finally the
 |  weekday is applied, but since the 2nd is already a Monday there is
 |  no effect.
 |
 |  Methods defined here:
 |
 |  __abs__(self)
 |
 |  __add__(self, other)
 |
 |  __bool__(self)
 |
 |  __div__(self, other)
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __hash__(self)
 |      Return hash(self).
 |
 |  __init__(self, dt1=None, dt2=None, years=0, months=0, days=0, leapdays=0, weeks=0, hours=0, minutes=0, seconds=0, microseconds=0, year=None, month=None, day=None, weekday=None, yearday=None, nlyearday=None, hour=None, minute=None, second=None, microsecond=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __mul__(self, other)
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __neg__(self)
 |
 |  __nonzero__ = __bool__(self)
 |
 |  __radd__(self, other)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __rmul__ = __mul__(self, other)
 |
 |  __rsub__(self, other)
 |
 |  __sub__(self, other)
 |
 |  __truediv__ = __div__(self, other)
 |
 |  normalized(self)
 |      Return a version of this object represented entirely using integer
 |      values for the relative attributes.
 |
 |      >>> relativedelta(days=1.5, hours=2).normalized()
 |      relativedelta(days=+1, hours=+14)
 |
 |      :return:
 |          Returns a :class:`dateutil.relativedelta.relativedelta` object.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  weeks

In [117]:
b1902.date.max()

datetime.date(2019, 3, 6)

In [114]:
a+timedelta(days=30)

datetime.date(2019, 3, 6)

In [ ]:
c1901open = c1901[c1901.available==1]

In [77]:
c1901open['price'] = c1901open['price'].str.replace('$','')
c1901open['price'] = c1901open['price'].str.replace(',','')
c1901open['price'] = c1901open['price'].astype(float).astype(int)

c1901open['adjusted_price'] = c1901open['adjusted_price'].str.replace('$','')
c1901open['adjusted_price'] = c1901open['adjusted_price'].str.replace(',','')
c1901open['adjusted_price']=c1901open['adjusted_price'].astype(float).astype(int)

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [87]:
c1901open.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,adj
1,111001,2019-01-13,1,80,80,2,365,0
2,111001,2019-01-14,1,140,140,3,365,0
3,466732,2019-01-14,1,285,335,3,365,50
4,466732,2019-01-15,1,285,335,3,365,50
5,466732,2019-01-16,1,285,335,3,365,50

In [86]:
c1901book.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,adj
0,466732,2019-01-13,0,285,335,3,365,50
14,466732,2019-01-25,0,328,276,5,365,-52
15,466732,2019-01-26,0,328,276,5,365,-52
16,466732,2019-01-27,0,285,239,5,365,-46
17,466732,2019-01-28,0,285,239,5,365,-46

In [78]:
c1901open['adj']=c1901open.adjusted_price-c1901open.price

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [85]:
c1901open.adj.median(),c1901open.adj.mean()

(0.0, -0.18184133844624056)

In [82]:

c1901['price'] = c1901['price'].str.replace('$','')
c1901['price'] = c1901['price'].str.replace(',','')
c1901['price'] = c1901['price'].astype(float).astype(int)

c1901['adjusted_price'] = c1901['adjusted_price'].str.replace('$','')
c1901['adjusted_price'] = c1901['adjusted_price'].str.replace(',','')
c1901['adjusted_price']=c1901['adjusted_price'].astype(float).astype(int)

In [83]:
c1901book = c1901[c1901.available==0]
c1901book['adj']=c1901book.adjusted_price-c1901book.price
c1901book.head()

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,adj
0,466732,2019-01-13,0,285,335,3,365,50
14,466732,2019-01-25,0,328,276,5,365,-52
15,466732,2019-01-26,0,328,276,5,365,-52
16,466732,2019-01-27,0,285,239,5,365,-46
17,466732,2019-01-28,0,285,239,5,365,-46

In [84]:
c1901book.adj.median(),c1901book.adj.mean()

(0.0, -0.12352269371276278)

In [7]:
c1905.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,9835,2019-05-12,t,$60.00,$60.00,1.0,365.0
1,508590,2019-05-12,f,$40.00,$40.00,1.0,1125.0
2,508590,2019-05-13,f,$40.00,$40.00,1.0,1125.0
3,508590,2019-05-14,f,$40.00,$40.00,1.0,1125.0
4,508590,2019-05-15,f,$40.00,$40.00,1.0,1125.0

In [26]:
# for data in datasets:
#     data = data[data.date<='2019-12-31']

In [8]:
for data in datasets:
    data.available=data.available.replace({'t':1,'f':0})
    
c1901.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,466732,2019-01-13,0,$285.00,$335.00,3,365
1,111001,2019-01-13,1,$80.00,$80.00,2,365
2,111001,2019-01-14,1,$140.00,$140.00,3,365
3,466732,2019-01-14,1,$285.00,$335.00,3,365
4,466732,2019-01-15,1,$285.00,$335.00,3,365

In [9]:
c190101=c1901[(c1901.date>='2019-01-01')&(c1901.date<='2019-01-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'jan'})
c190102=c1901[(c1901.date>='2019-02-01')&(c1901.date<='2019-02-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'feb'})
c190103=c1901[(c1901.date>='2019-03-01')&(c1901.date<='2019-03-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'mar'})
c190104=c1901[(c1901.date>='2019-04-01')&(c1901.date<='2019-04-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'apr'})
c190105=c1901[(c1901.date>='2019-05-01')&(c1901.date<='2019-05-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'may'})
c190106=c1901[(c1901.date>='2019-06-01')&(c1901.date<='2019-06-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'jun'})

In [13]:
c01 = c190101.merge(c190102,on = ['listing_id']).merge(c190103,on = ['listing_id']).\
merge(c190104,on = ['listing_id']).merge(c190105,on = ['listing_id']).merge(c190106,on = ['listing_id'])

In [20]:
c01=c01.reset_index()

In [21]:
c01

       listing_id  jan  feb  mar  apr  may  jun
0            9835   19   28   31   30   31   30
1           10803    3   14   14   30   31   30
2           12936    2    7   22   30   31   30
3           15246    0    0    0    0    0    0
4           16760    7   23   31   30   31   15
...           ...  ...  ...  ...  ...  ...  ...
23578    31516377    0   10    0    0    0    0
23579    31516755   11   28   31   30   31   30
23580    31517173   19   28    0    0    0    0
23581    31517956    8   23   31   12    0    0
23582    31518659   11   28   31   30   31   30

[23583 rows x 7 columns]

In [16]:

c190202=c1902[(c1902.date>='2019-02-01')&(c1902.date<='2019-02-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'feb'})
c190203=c1902[(c1902.date>='2019-03-01')&(c1902.date<='2019-03-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'mar'})
c190204=c1902[(c1902.date>='2019-04-01')&(c1902.date<='2019-04-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'apr'})
c190205=c1902[(c1902.date>='2019-05-01')&(c1902.date<='2019-05-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'may'})
c190206=c1902[(c1902.date>='2019-06-01')&(c1902.date<='2019-06-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'jun'})

c02 = c190202.merge(c190203,on = ['listing_id']).merge(c190204,on = ['listing_id']).\
merge(c190205,on = ['listing_id']).merge(c190206,on = ['listing_id'])
c02

            feb  mar  apr  may  jun
listing_id
9835         24   31   30   31   30
10803         8   14   30   31   30
12936         7   11   30   31   30
15246         0    0    0    0    0
16760        19   31   30   31   15
...         ...  ...  ...  ...  ...
32112023      0    0   24    0    0
32112068      0   21    0    0    0
32113264     20   31   30   31   30
32115496     21   31   25    0    0
32115791     16   31   30   28   30

[23421 rows x 5 columns]

In [22]:
c02=c02.reset_index()

In [30]:
b01=c01.merge(c02, on=['listing_id'])
b01['feb']=b01.feb_x-b01.feb_y
b01['mar']=b01.mar_x-b01.mar_y
b01['apr']=b01.apr_x-b01.apr_y
b01['may']=b01.may_x-b01.may_y
b01['jun']=b01.jun_x-b01.jun_y
b01=b01[['jan','feb','mar','apr','may','jun']]
b01

       jan  feb  mar  apr  may  jun
0       19    4    0    0    0    0
1        3    6    0    0    0    0
2        2    0   11    0    0    0
3        0    0    0    0    0    0
4        7    4    0    0    0    0
...    ...  ...  ...  ...  ...  ...
22239   13    4    0    0    0    0
22240   11   28   31   30   31   30
22241   19   14    0    0    0    0
22242    8    7    6  -18   -5    0
22243   11   28   31   30   31   30

[22244 rows x 6 columns]

In [34]:
c01.mean()

listing_id    1.926716e+07
jan           5.487555e+00
feb           1.182526e+01
mar           1.515846e+01
apr           1.417301e+01
may           1.359789e+01
jun           1.343124e+01
dtype: float64

In [35]:
c01.median()

listing_id    20823111.0
jan                  3.0
feb                  9.0
mar                 16.0
apr                 12.0
may                  0.0
jun                  0.0
dtype: float64

In [36]:
c02.median()

listing_id    20999080.0
feb                  3.0
mar                 11.0
apr                 19.0
may                  4.0
jun                  0.0
dtype: float64

In [37]:
c02.mean()

listing_id    1.949074e+07
feb           7.365142e+00
mar           1.333346e+01
apr           1.543879e+01
may           1.391858e+01
jun           1.324760e+01
dtype: float64

In [18]:
help(c02.merge)

Help on method merge in module pandas.core.frame:

merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [ ]:

c190203=c1902[(c1902.date>='2019-03-01')&(c1902.date<='2019-03-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'mar'})
c190204=c1902[(c1902.date>='2019-04-01')&(c1902.date<='2019-04-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'apr'})
c190205=c1902[(c1902.date>='2019-05-01')&(c1902.date<='2019-05-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'may'})
c190206=c1902[(c1902.date>='2019-06-01')&(c1902.date<='2019-06-31')][['listing_id','available']].groupby(['listing_id']).sum().rename(columns={'available':'jun'})

c02 = c190202.merge(c190203,on = ['listing_id']).merge(c190204,on = ['listing_id']).\
merge(c190205,on = ['listing_id']).merge(c190206,on = ['listing_id'])
c02

In [37]:
help(c190101.rename)

Help on method rename in module pandas.core.frame:

rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore') method of pandas.core.frame.DataFrame instance
    Alter axes labels.

    Function / dict values must be unique (1-to-1). Labels not contained in
    a dict / Series will be left as-is. Extra labels listed don't throw an
    error.

    See the :ref:`user guide <basics.rename>` for more.

    Parameters
    ----------
    mapper : dict-like or function
        Dict-like or functions transformations to apply to
        that axis' values. Use either ``mapper`` and ``axis`` to
        specify the axis to target with ``mapper``, or ``index`` and
        ``columns``.
    index : dict-like or function
        Alternative to specifying axis (``mapper, axis=0``
        is equivalent to ``index=mapper``).
    columns : dict-like or function
        Alternative to specifying axis (``mapper, axis=1``
        is equivalent to ``columns=mapper``).
    axis : int or str
        Axis to target with ``mapper``. Can be either the axis name
        ('index', 'columns') or number (0, 1). The default is 'index'.
    copy : bool, default True
        Also copy underlying data.
    inplace : bool, default False
        Whether to return a new DataFrame. If True then value of copy is
        ignored.
    level : int or level name, default None
        In case of a MultiIndex, only rename labels in the specified
        level.
    errors : {'ignore', 'raise'}, default 'ignore'
        If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
        or `columns` contains labels that are not present in the Index
        being transformed.
        If 'ignore', existing keys will be renamed and extra keys will be
        ignored.

    Returns
    -------
    DataFrame
        DataFrame with the renamed axis labels.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis and
        "errors='raise'".

    See Also
    --------
    DataFrame.rename_axis : Set the name of the axis.

    Examples
    --------

    ``DataFrame.rename`` supports two calling conventions

    * ``(index=index_mapper, columns=columns_mapper, ...)``
    * ``(mapper, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Rename columns using a mapping:

    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6

    Rename index using a mapping:

    >>> df.rename(index={0: "x", 1: "y", 2: "z"})
       A  B
    x  1  4
    y  2  5
    z  3  6

    Cast index labels to a different type:

    >>> df.index
    RangeIndex(start=0, stop=3, step=1)
    >>> df.rename(index=str).index
    Index(['0', '1', '2'], dtype='object')

    >>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
    Traceback (most recent call last):
    KeyError: ['C'] not found in axis

    Using axis-style parameters

    >>> df.rename(str.lower, axis='columns')
       a  b
    0  1  4
    1  2  5
    2  3  6

    >>> df.rename({1: 2, 2: 4}, axis='index')
       A  B
    0  1  4
    2  2  5
    4  3  6

In [34]:
help(c190101.merge)

Help on method merge in module pandas.core.frame:

merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [ ]:
fre=cal.listing_id.value_counts()

In [ ]:
cal.available=cal.available.replace({'t':1,'f':0})
cal.head()

In [ ]:
cal.date.max()

In [ ]:
cal[['listing_id','available']].groupby(['listing_id']).sum()

In [ ]:
fre.unique()

In [6]:
fre.unique()

In [9]:
cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,323280,2020-06-12,t,$67.00,$67.00,1.0,730365.0
1,315513,2020-06-12,f,$45.00,$45.00,1.0,1125.0
2,315513,2020-06-13,f,$45.00,$45.00,1.0,1125.0
3,315513,2020-06-14,f,$45.00,$45.00,1.0,1125.0
4,315513,2020-06-15,f,$45.00,$45.00,1.0,1125.0

In [10]:
fre=cal.listing_id.value_counts()

In [19]:
cal.available=cal.available.replace({'t':1,'f':0})
cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,323280,2020-06-12,1,$67.00,$67.00,1.0,730365.0
1,315513,2020-06-12,0,$45.00,$45.00,1.0,1125.0
2,315513,2020-06-13,0,$45.00,$45.00,1.0,1125.0
3,315513,2020-06-14,0,$45.00,$45.00,1.0,1125.0
4,315513,2020-06-15,0,$45.00,$45.00,1.0,1125.0

In [21]:
cal.date.max()

'2021-06-13'

In [20]:
cal[['listing_id','available']].groupby(['listing_id']).sum()

            available
listing_id
9835              365
10803              41
12936               0
38271             351
41836               0
...               ...
43733191           79
43744200            4
43746933          173
43748923          159
43749261          161

[23447 rows x 1 columns]

In [15]:
fre.unique()

array([367, 366, 365], dtype=int64)